#Ordner
BildDatenbank/
static/
templates/

#Dateien
yolo11n-cls.pt
test.py
run_test.sh
test.ki.py
ursprung.md
wetransfer_mischfasern_2025-01-31_1751.zip
webpictures/beer.jpeg
webpictures/fibreai.jpeg
webpictures/fibreAI.png
webpictures/flachs.jpg
webpictures/hellweg.jpeg
webpictures/KI_Rand.png
webpictures/KI_Rand_Act.png
webpictures/KI_Rand_Nact.png
webpictures/merzWolle.jpg
webpictures/Pica-headshot-20250324135530.png
webpictures/tabakovic.png
webpictures/Tussahseide.jpg
webpictures/Viskose.jpg
webpictures/Wolle.jpg
#wird ignoriert, damit das Tool in Git gebrancht werden kann
